h2.text-center {
    padding-top: 100px;
    alignment: center;
    width: 400px;
    height: 300px;
}

.insults {
    width: auto;
    height: auto;
    background: rgb(85,98,143,0.3);
    border-radius: 8px;
}

.copyright {
    float: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.API {
    float: right;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left {
    width: 60%;
    height: 250px;
    background: red;
}

.right {
    width: 80%;
    height: 250px;
    background: red;
}

.insult-card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    /* margin-bottom: 10px;  Added */
}